<ion-view class="whoViewedMeView" view-title="Who unfollowed me?">
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <a class="item item-avatar" ng-repeat="user in users" ng-class="{'blurMe': (users.length == 1 ? false : $index < 3)}">
                <img ng-src="{{user.profile_picture}}">
                <h2>{{user.full_name || user.username}}</h2>
                <p am-time-ago="user.fetchedAt"></p>
            </a>
            <div class="card" ng-if="loaded && users.length == 0">
                <div class="item item-text-wrap">
                You checked at <span am-time-ago="lastDifferenceCheck"></span>. Still, no change! You should be proud.
                </div>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-calm" ng-click="showBuyOptions()">
        <h1 class="title">To see the full list, become a member.</h1>
    </ion-footer-bar>
</ion-view>
