<ion-view view-title="Followers not following">
    <ion-nav-buttons side="right">
        <button ng-show="users.length > 0" class="button button-clear button-positive">{{users.length}}</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <a class="item item-avatar" ng-repeat="user in users" ng-class="{'blurMe': (!showAds ? false : $index < 5)}">
                <img ng-src="{{user.profile_picture}}">
                <h2>{{user.full_name || user.username}}</h2>
                <p>{{user.username}}</p>
            </a>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced" ng-click="showBuyOptions()"  ng-show="showAds">
        <h1 class="title">To see the full list, subscribe.</h1>
    </ion-footer-bar>
</ion-view>
