<ion-view class="mostLikesView" view-title="Most Likes">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="doRefresh()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <a class="item item-avatar" ng-repeat="user in users"  ng-class="{'blurMe': ($index < 5)}">
                <img ng-src="{{user.profile_picture}}">
                <h2>{{user.full_name || user.username}}</h2>
                <p>{{user.username}} - {{user.count}} likes</p>
            </a>
        </ion-list>
        <ion-infinite-scroll
            ng-if="isScrollAvailable()"
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced" ng-click="showBuyOptions()">
        <h1 class="title">To see the full list, subscribe.</h1>
    </ion-footer-bar>
</ion-view>
