<ion-view class="mostCommentsView" view-title="Most Comments">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="doRefresh()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <a class="item item-avatar" ng-repeat="user in users" ng-class="{'blurMe': (!showAds ? false : $index < 5)}" ng-click="visitUser(user.username, $index)">
                <img ng-src="{{user.from.profile_picture}}">
                <h2>{{user.from.full_name || user.from.username}}</h2>
                <p>{{user.from.username}} - {{user.count}} comments</p>
            </a>
        </ion-list>
        <ion-infinite-scroll
            ng-if="isScrollAvailable()"
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced" ng-click="showBuyOptions()"  ng-show="showAds">
        <h1 class="title">To see the full list, subscribe.</h1>
    </ion-footer-bar>
</ion-view>
