<ion-view class="statisticsView" view-title="Dashboard">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="doRefresh()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <div class="latestPhoto" ng-style="{'background-image': 'url(' + latestPhoto + ')'}">
        </div>
        <div class="profileImage" ng-style="{'background-image': 'url(' + currentUser.profile_picture + ')'}">
        </div>
        <p class="username">{{ currentUser.username }}</p>
        <p class="full_name">Last Check: <span am-time-ago="statistics.fetch"></span></p>
        <div class="showContainer left" ng-href="#/app/following">
            <div class="followCount">{{ currentUser.counts.follows}}</div>
            <div class="followTitle">Following</div>
        </div>
        <div class="showContainer right" ng-href="#/app/followers">
            <div class="followCount">{{ currentUser.counts.followed_by}}</div>
            <div class="followTitle">Followers</div>
        </div>
        <div class="backgroundHolder"></div>

        <div class="list">
            <a class="item item-icon-left" href="#/app/followers">
                <i class="icon ion-ios-people-outline"></i>
                <h2>Followers I am not following back</h2>
                <p>{{ currentUser.counts.followed_by }} <i class="icon plusIcon" ng-show="statistics.count.followed_by != 0" ng-class="statistics.count.followed_by > 0 ? 'ion-plus-round' : 'ion-minus-round'"></i>{{ statistics.count.followed_by == 0 ? '' : (statistics.count.followed_by + '').replace('-', '') }}</p>
            </a>
            <a class="item item-icon-left" href="#/app/followers">
                <i class="icon ion-ios-people-outline"></i>
                <h2>Users not following me back</h2>
                <p>{{ currentUser.counts.followed_by }} <i class="icon plusIcon" ng-show="statistics.count.followed_by != 0" ng-class="statistics.count.followed_by > 0 ? 'ion-plus-round' : 'ion-minus-round'"></i>{{ statistics.count.followed_by == 0 ? '' : (statistics.count.followed_by + '').replace('-', '') }}</p>
            </a>
        </div>
        </ion-content>
</ion-view>
